* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 1%;
  }
  
  html, body {
    min-height:
  }

  body {
    background-image: url(cookingbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  body.finished {
    background-image: url(happychef.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  header {
    background-color: white;
    border-color: whitesmoke;
    border-radius: 30%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    text-align: center;
    width: 20%;
    min-width: 10em;
    font-size: 1em;
  }

   ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: auto;
    list-style-type: none;
    justify-content: space-between;
    width: 90%;
  } 

  li {
    font-weight: 700;
  }
  li > span {
    font-weight: 300;
    font-size: 1.2em;
  }

  .startQuiz {
    display: block;
    width: 30%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-color: whitesmoke;
    border-width: thick;
    background-color: white;
    border-radius: 4%;
  }

  h1 {
    font-size: 1.5em;
    margin: 5%;
  }

  .startButton {
    font-size: 1.25em;
    margin: 5%;
  }

  .questions {
    display: block;
    background-color: white;
    border-color: whitesmoke;
    border-width: thick;
    border-radius: 3%;
    width: 75%;
    height: 40%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }

  fieldset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3%;
    padding: 10%;
    border-width: 0;
  }

  legend {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 5%;
    font-size: 1.5em;
  }

  .questions input {
    display: inline;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    size: 1.5em;
  }

  .questions span {
    display: inline;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    size: 1.5em;
  }

  .submitButton {
    display: flex;
    justify-content: center;
    font-size: 1.25em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 2%;
    padding-bottom: 20%;
  }

  label p {
    display: inline-block;
    font-style: italic;
    border-color: blanchedalmond;
    border-width: thick;
    background-color: burlywood;
  }

  .nextButton {
    display: flex;
    justify-content: center;
    font-size: 1.25em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 2%;
  }

  .results {
    display: block;
    width: 30%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-color: whitesmoke;
    background-color: white;
    border-radius: 4%;
  }

  .results p {
    font-size: 1.5em;
    margin: 5%;
  }

  .restartButton {
    display: flex;
    justify-content: center;
    font-size: 1.25em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 2%;
  }

  span {
    font-size: 1.5em;
    font-weight: 300;
  }

  .hidden {
      display: none;
  }

  .button {
    background-color: white;
    color: black;
    padding: 15px 32px;
    border-radius: 4px;
    border: 2px solid black;
  }

  .button:hover, .button:focus {
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
  }

  @media screen and (min-width: 768px) {
    /*ul {
      flex-direction: row;
    }*/

    ul > li > span {
      font-size: 1em;
    }

    li {
      font-size: 1.2em;
      padding: 3%;
    }

    .button {
      font-size: 1.5em;
    }

    legend {
      font-size: 2em;
    }

    .questions {
      width: 50%;
    }

    .questions input {
      font-size: 2em;
    }

    .results p {
      font-size: 2em;
    }

    fieldset {
      padding-left: 15%;
    }

    span {
      font-size: 2em;
    }
  }

  @media screen and (min-width: 1280px) {
     ul {
      flex-direction: row;
    }

    li {
      font-size: 1.8em;
    }

    ul > li > span {
      font-size: 1em;
    }

    .button {
      font-size: 1.75em;
    }

    legend {
      font-size: 2.5em;
    }

    .questions input {
      font-size: 2.5em;
    }

    .questions {
      width: 50%;
    }

    .results p {
      font-size: 2.5em;
    }

    fieldset {
      padding-left:20%;
    }

    span {
      font-size: 2.5em;
    }
  }